body {
    margin: 0;
    overflow-x: hidden;
  }
  
  html,
  body,
  #root {
    height: 100%;
  }

  img, svg, canvas, video, table { max-width: 100%; height: auto; }
  
  #downloadTemplateButton {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 12px;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #downloadTemplateButton:hover {
    background-color: #d9d9d9;
  }
